# Python
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/
env/
venv/
# VS Code
.vscode/

# Logs
*.log

# Database
*.sqlite3

# Environment variables
.env
projeto_combinado.txt
projeto-Gysin.txt
credencial.json
conteudo_unificado.txt
juntar-de-Projeto.py